<header>
  <link rel="stylesheet" href="app.component.css">
</header>
<body>
  <nav class="navbar">
    <div class="container-fluid">
        <div class="col">
          <a class="navbar-brand" href="#">
            <img src="./assets/BeepLogo.png" alt="BeepLogo" width="123" height="51">
          </a>
        </div>
        <div class="col">
          <a class="navbar-icon" href="#">
            <img src="./assets/1780-medal-first-place.svg" alt="BeepLogo" width="62" height="62">
          </a>
        </div>
        <div class="col">
          <div class="navbar-profile rounded-circle">
            <a class="navbar-profile-icon" href="#">
              <img src="./assets/Person_Icon.png" alt="ProfileIcon" width="40" height="40">
            </a>
          </div>
        </div>
    </div>
  </nav>
</body>
<app-home></app-home>
