<head>
  <link rel="stylesheet" href="alarm-config.component.css">
</head>
<body>
  <div class="home_background">

    <div class="container">
      <div class="row">
        <div class="col">
          <h2 style="padding-left: 100px; padding-top: 50px;">Cancelar</h2>
        </div>
        <div class="col-md-6" id="parent">

          <ul class="list-group1">
            <li class="list-group-item active">
              -
            </li>
            <li class="list-group-item active">
              1
            </li>
            <li class="list-group-item active">
              2
            </li>
            <li class="list-group-item active">
              3
            </li>
            <li class="list-group-item active">
              4
            </li>
            <li class="list-group-item active">
              5
            </li>
            <li class="list-group-item active">
              6
            </li>
            <li class="list-group-item active">
              7
            </li>
            <li class="list-group-item active">
              8
            </li>
            <li class="list-group-item active">
              9
            </li>
            <li class="list-group-item active">
              10
            </li>
            <li class="list-group-item active">
              11
            </li>
            <li class="list-group-item active">
              12
            </li>
          </ul>

          <ul class="list-group2">
            <li class="list-group-item active">
              -
            </li>
            <li class="list-group-item active">
              00
            </li>
            <li class="list-group-item active">
              01
            </li>
            <li class="list-group-item active">
              02
            </li>
            <li class="list-group-item active">
              03
            </li>
            <li class="list-group-item active">
              04
            </li>
            <li class="list-group-item active">
              05
            </li>
            <li class="list-group-item active">
              06
            </li>
            <li class="list-group-item active">
              07
            </li>
            <li class="list-group-item active">
              08
            </li>
            <li class="list-group-item active">
              09
            </li>
            <li class="list-group-item active">
              10
            </li>
            <li class="list-group-item active">
              11
            </li>
            <li class="list-group-item active">
              12
            </li>
            <li class="list-group-item active">
              13
            </li>
            <li class="list-group-item active">
              14
            </li>
            <li class="list-group-item active">
              15
            </li>
            <li class="list-group-item active">
              16
            </li>
            <li class="list-group-item active">
              17
            </li>
            <li class="list-group-item active">
              18
            </li>
            <li class="list-group-item active">
              19
            </li>
            <li class="list-group-item active">
              20
            </li>
            <li class="list-group-item active">
              21
            </li>
            <li class="list-group-item active">
              22
            </li>
            <li class="list-group-item active">
              23
            </li>
            <li class="list-group-item active">
              24
            </li>
            <li class="list-group-item active">
              25
            </li>
            <li class="list-group-item active">
              26
            </li>
            <li class="list-group-item active">
              27
            </li>
            <li class="list-group-item active">
              28
            </li>
            <li class="list-group-item active">
              29
            </li>
            <li class="list-group-item active">
              30
            </li>
            <li class="list-group-item active">
              31
            </li>
            <li class="list-group-item active">
              32
            </li>
            <li class="list-group-item active">
              33
            </li>
            <li class="list-group-item active">
              34
            </li>
            <li class="list-group-item active">
              35
            </li>
            <li class="list-group-item active">
              36
            </li>
            <li class="list-group-item active">
              37
            </li>
            <li class="list-group-item active">
              38
            </li>
            <li class="list-group-item active">
              39
            </li>
            <li class="list-group-item active">
              40
            </li>
            <li class="list-group-item active">
              41
            </li>
            <li class="list-group-item active">
              42
            </li>
            <li class="list-group-item active">
              43
            </li>
            <li class="list-group-item active">
              44
            </li>
            <li class="list-group-item active">
              45
            </li>
            <li class="list-group-item active">
              46
            </li>
            <li class="list-group-item active">
              47
            </li>
            <li class="list-group-item active">
              48
            </li>
            <li class="list-group-item active">
              49
            </li>
            <li class="list-group-item active">
              50
            </li>
            <li class="list-group-item active">
              51
            </li>
            <li class="list-group-item active">
              52
            </li>
            <li class="list-group-item active">
              53
            </li>
            <li class="list-group-item active">
              54
            </li>
            <li class="list-group-item active">
              55
            </li>
            <li class="list-group-item active">
              56
            </li>
            <li class="list-group-item active">
              57
            </li>
            <li class="list-group-item active">
              58
            </li>
            <li class="list-group-item active">
              59
            </li>
            <li class="list-group-item active">
              60
            </li>
          </ul>

          <ul class="list-group3">
            <li class="list-group-item active">
              -
            </li>
            <li class="list-group-item active">
              a.m
            </li>
            <li class="list-group-item active">
              p.m
            </li>
            <li class="list-group-item active">
              -
            </li>

          </ul>

          <div class="selector"></div>

        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col" class="space-line-color">
        </div>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col-md-8">
          <h2>Número de sentadillas</h2>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col-md-6" id="parent">

          <ul class="list-group4">
            <li class="list-group-item active">
              -
            </li>
            <li class="list-group-item active">
              1
            </li>
            <li class="list-group-item active">
              2
            </li>
            <li class="list-group-item active">
              3
            </li>
            <li class="list-group-item active">
              4
            </li>
            <li class="list-group-item active">
              5
            </li>
            <li class="list-group-item active">
              6
            </li>
            <li class="list-group-item active">
              7
            </li>
            <li class="list-group-item active">
              8
            </li>
            <li class="list-group-item active">
              9
            </li>
            <li class="list-group-item active">
              10
            </li>
          </ul>

          <div class="selector"></div>

        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col" class="space-line">
        </div>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col-md-6">
          <h3>Repetir</h3>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col" class="space-line-short">
        </div>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col-md-6" id="parent">

          <div class="selector2"></div>

          <div class="form-check form-check-reverse" style="padding-right: 145px;">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1" class="active2">
              Domingo
            </label>
          </div>
          <div class="row">
            <div class="col" class="line-color">
            </div>
          </div>
          <div class="form-check form-check-reverse" style="padding-right: 145px; padding-top: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1" class="active2">
              Lunes
            </label>
          </div>
          <div class="row">
            <div class="col" class="line-color">
            </div>
          </div>
          <div class="form-check form-check-reverse" style="padding-right: 145px; padding-top: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1" class="active2">
              Martes
            </label>
          </div>
          <div class="row">
            <div class="col" class="line-color">
            </div>
          </div>
          <div class="form-check form-check-reverse" style="padding-right: 145px; padding-top: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1" class="active2">
              Miércoles
            </label>
          </div>
          <div class="row">
            <div class="col" class="line-color">
            </div>
          </div>
          <div class="form-check form-check-reverse" style="padding-right: 145px; padding-top: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1" class="active2">
              Jueves
            </label>
          </div>
          <div class="row">
            <div class="col" class="line-color">
            </div>
          </div>
          <div class="form-check form-check-reverse" style="padding-right: 145px; padding-top: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1" class="active2">
              Viernes
            </label>
          </div>
          <div class="row">
            <div class="col" class="line-color">
            </div>
          </div>
          <div class="form-check form-check-reverse" style="padding-right: 145px; padding-top: 10px;">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1" class="active2">
              Sábado
            </label>
          </div>

        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col" class="space-line-short">
        </div>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col-md-6 text-center">
          <button type="button" class="btn btn-primary"
          style="--bs-btn-padding-y: 10px; --bs-btn-padding-x: 155px; --bs-btn-font-size: 15px; --bs-btn-color: #60d4fe;">Continua con Apple</button>
        </div>
        <div class="col">
        </div>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-md-6">
          <p>¡Gracias por iniciar tus pausas activas con nosotros!</p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
</body>
