.home_background {
  width: 100%;
  height: 1800px;
  background-image: linear-gradient(260deg,#003730, #003545, #001F61);
}

h1 {
  padding-top: 50px;
  font-size: 45px;
  color: #56dbc6;
  text-align: center;
  font-family: Lucida, sans-serif;
}

h2 {
  font-size: 40px;
  color: #56dbc6;
  text-align: center;
  font-family: Lucida, sans-serif;
}

h3 {
  padding-top: 30px;
  font-size: 24px;
  color: #60d4fe;
  text-align: center;
  font-family: Lucida, sans-serif;
}

h4 {
  padding-top: 40px;
  font-size: 20px;
  color: #ffff;
  text-align: center;
  font-family: Lucida, sans-serif;
}

p {
  padding-top: 55px;
  font-size: 24px;
  color: #56dbc6;
  text-align: center;
  font-family: Lucida, sans-serif;
}

.container-create-alarm {
  height: 180px;
  width: 200px;
}

.create-alarm-button {
  background: radial-gradient(
    ellipse at center,
    rgba(86, 219, 199, 0.22) 0%,
    rgba(86, 219, 199, 0.22) 70%,
    rgba(86, 219, 198, 0) 70.3%
  );
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
}

.data-statistics-left {
  margin-left: 180px;
  vertical-align: text-top;
  font-family: Lucida, sans-serif;
}

.data-statistics-right {
  margin-left: 150px;
  vertical-align: text-top;
  font-family: Lucida, sans-serif;
}

.card-backgroud-color {
  background-color: #003545;
  border-radius: 2em;
}

.line-color {
  background-color: #56dbc6;
  height: 1px;
}

.space-line-color {
  height: 60px;
}

.space-form {
  height: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #60d4fe5e !important;
  border-color: #60d4fe !important;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #003545;
}


/* :host {
  display: contents;
}
.home-home {
  width: 100%;
  height: 2047px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-default-outline);
}
.home-frame13 {
  top: -10px;
  left: -10px;
  width: 1532px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.home-rectangle52 {
  width: 1512px;
  height: 71px;
  position: relative;
  border-color: transparent;
}
.home-frame12svg {
  top: -6px;
  left: 19px;
  width: 146px;
  height: 82px;
  position: absolute;
}
.home-frame11svg {
  top: -3px;
  left: 1432px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.home-svg1780medalfirstplace1svg {
  top: 4px;
  left: 728px;
  width: 57px;
  height: 62px;
  position: absolute;
}
.home-rectangle57 {
  top: 69px;
  left: 0px;
  width: 1512px;
  height: 1770px;
  position: absolute;
  border-color: transparent;
}
.home-frame9 {
  top: 107px;
  left: 436px;
  width: 640px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.home-text {
  color: var(--dl-color-default-primary);
  width: 620px;
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text02 {
  top: 288px;
  left: 446px;
  color: var(--dl-color-default-primary);
  width: 620px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text04 {
  top: 616px;
  left: 665px;
  color: var(--dl-color-default-secondary);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame10button {
  top: 420px;
  left: 668px;
  width: 175px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.home-group8 {
  width: 155px;
  height: 146px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-ellipse1 {
  top: 0px;
  left: 0px;
  width: 155px;
  height: 146px;
  position: absolute;
  border-color: rgba(86, 219, 198, 1);
  border-style: solid;
  border-width: 2px;
}
.home-text06 {
  top: 47px;
  left: 23px;
  color: var(--dl-color-default-primary);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-interlistadoalarmas {
  top: 658px;
  left: 590px;
  width: 331px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.home-swipetodeletebutton {
  width: 331px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.home-contentscontainer {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(216, 87, 87, 1);
}
.home-contents {
  width: 331px;
  height: 83px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.home-rectangle40 {
  top: 0px;
  left: 0px;
  width: 331px;
  height: 83px;
  position: absolute;
  border-color: transparent;
  border-radius: 13px;
}
.home-group13 {
  top: 0px;
  left: 10px;
  width: 194px;
  height: 62px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text08 {
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text10 {
  top: 44px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-toggle {
  top: 27px;
  left: 247px;
  width: 64px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle43 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 32px;
  position: absolute;
  border-color: transparent;
  border-radius: 20.5px;
}
.home-ellipse4 {
  top: 0px;
  left: 32px;
  width: 32px;
  height: 32px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
}
.home-swipetodelete-eliminar {
  top: 32px;
  left: 248px;
  width: 53px;
  height: 18px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-swipetodeletebutton1 {
  width: 331px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.home-contentscontainer1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(216, 87, 87, 1);
}
.home-contents1 {
  width: 331px;
  height: 83px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.home-rectangle401 {
  top: 0px;
  left: 0px;
  width: 331px;
  height: 83px;
  position: absolute;
  border-color: transparent;
  border-radius: 13px;
}
.home-group131 {
  top: 0px;
  left: 10px;
  width: 194px;
  height: 62px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text14 {
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text16 {
  top: 44px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-toggle1 {
  top: 27px;
  left: 247px;
  width: 64px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle431 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 32px;
  position: absolute;
  border-color: transparent;
  border-radius: 20.5px;
}
.home-ellipse41 {
  top: 0px;
  left: 32px;
  width: 32px;
  height: 32px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
}
.home-swipetodelete-eliminar1 {
  top: 32px;
  left: 248px;
  width: 53px;
  height: 18px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-swipetodeletebutton2 {
  width: 331px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.home-contentscontainer2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(216, 87, 87, 1);
}
.home-contents2 {
  width: 331px;
  height: 83px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.home-rectangle402 {
  top: 0px;
  left: 0px;
  width: 331px;
  height: 83px;
  position: absolute;
  border-color: transparent;
  border-radius: 13px;
}
.home-group132 {
  top: 0px;
  left: 10px;
  width: 194px;
  height: 62px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text20 {
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text22 {
  top: 44px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-toggle2 {
  top: 27px;
  left: 247px;
  width: 64px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle432 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 32px;
  position: absolute;
  border-color: transparent;
  border-radius: 20.5px;
}
.home-ellipse42 {
  top: 0px;
  left: 32px;
  width: 32px;
  height: 32px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
}
.home-swipetodelete-eliminar2 {
  top: 32px;
  left: 248px;
  width: 53px;
  height: 18px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text26 {
  top: 1086px;
  left: 446px;
  color: var(--dl-color-default-primary);
  width: 620px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text28 {
  top: 1472px;
  left: 446px;
  color: var(--dl-color-default-primary);
  width: 620px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-group53 {
  top: 1839px;
  left: 0px;
  width: 1512px;
  height: 208px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 53, 69, 1);
}
.home-text30 {
  top: 50px;
  left: 446px;
  color: var(--dl-color-default-primary);
  width: 620px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame56 {
  top: 1188px;
  left: 468px;
  width: 577px;
  height: 126px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.home-group9input {
  top: 0px;
  left: 322px;
  width: 255px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 3px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(167, 200, 255, 0.2199999988079071);
}
.home-text32 {
  top: 9px;
  left: 13.590262413024902px;
  color: var(--dl-color-default-tertiary);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-ingresenombreinput {
  top: 0px;
  left: 0px;
  width: 259px;
  height: 36px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 3px;
}
.home-rectangle38 {
  top: 0px;
  left: 0px;
  width: 259px;
  height: 36px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-text34 {
  top: 9px;
  left: 13.813333511352539px;
  color: var(--dl-color-default-tertiary);
  width: 233px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-group8input {
  top: 43px;
  left: 0px;
  width: 577px;
  height: 36px;
  display: flex;
  padding: 0;
  z-index: 2;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 3px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(167, 200, 255, 0.2199999988079071);
}
.home-text36 {
  top: 8.727294921875px;
  left: 9.0068359375px;
  color: var(--dl-color-default-tertiary);
  width: 457px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group7input {
  top: 86px;
  left: 0px;
  width: 577px;
  height: 36px;
  display: flex;
  padding: 0;
  z-index: 3;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(167, 200, 255, 0.2199999988079071);
}
.home-text38 {
  top: 8.727294921875px;
  left: 7.0068359375px;
  color: var(--dl-color-default-tertiary);
  width: 457px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame7 {
  top: 369px;
  left: 446px;
  width: 181px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.home-text40 {
  color: var(--dl-color-default-primary);
  width: 181px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 4px;
  text-decoration: none;
}
.home-group51 {
  width: 181px;
  height: 47px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text42 {
  color: var(--dl-color-default-primary);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-tinder {
  top: 7px;
  left: 120px;
  width: 24px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.home-frame8 {
  top: 369px;
  left: 885px;
  width: 181px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.home-text44 {
  color: var(--dl-color-default-primary);
  width: 181px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 4px;
  text-decoration: none;
}
.home-group52 {
  width: 181px;
  height: 47px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text46 {
  color: var(--dl-color-default-primary);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-tinder1 {
  top: 7px;
  left: 136px;
  width: 24px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.home-frame55 {
  top: 647px;
  left: 1414px;
  width: 55px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.home-text48 {
  color: var(--dl-color-default-secondary);
  width: 186px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.home-group54 {
  width: 55px;
  height: 126px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-double-down {
  top: 36px;
  left: 0px;
  width: 55px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.home-double-down1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.home-line9 {
  top: 1010px;
  left: 283px;
  width: 946px;
  height: 0px;
  position: absolute;
}
.home-frame2button {
  top: 1370px;
  left: 468px;
  width: 577px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.home-boton-login {
  width: 577px;
  height: 36px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 7px;
}
.home-rectangle2 {
  top: 0px;
  left: 0px;
  width: 577px;
  height: 36px;
  position: absolute;
  border-color: rgba(96, 212, 254, 1);
  border-style: solid;
  border-width: 2px;
}
.home-text50 {
  top: 5px;
  left: 102.23123168945312px;
  color: var(--dl-color-default-secondary);
  width: 393px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text52 {
  color: var(--dl-color-default-primary);
  width: 577px;
  height: auto;
  opacity: 0.00;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame4button {
  top: 1556px;
  left: 555px;
  width: 403px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.home-boton-login1 {
  width: 333px;
  height: 36px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 8px;
}
.home-rectangle21 {
  top: 0px;
  left: 0px;
  width: 333px;
  height: 36px;
  position: absolute;
  border-color: rgba(96, 212, 254, 1);
  border-style: solid;
  border-width: 2px;
}
.home-text54 {
  top: 5px;
  left: 59px;
  color: var(--dl-color-default-secondary);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text56 {
  color: var(--dl-color-default-primary);
  width: 403px;
  height: auto;
  opacity: 0.00;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame6button {
  top: 1636px;
  left: 559px;
  width: 395px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.home-group44 {
  width: 333px;
  height: 36px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(96, 212, 254, 0.2199999988079071);
}
.home-text58 {
  top: 5px;
  left: 59px;
  color: var(--dl-color-default-secondary);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text60 {
  color: var(--dl-color-default-primary);
  width: 395px;
  height: auto;
  opacity: 0.00;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
} */
