<head>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <div class="home_background"></div>







  <!-- <div>
    <div class="home-home">
      <div class="home-frame13">
        <img
          src="/playground_assets/rectangle523011-mzcn-200h.png"
          alt="Rectangle523011"
          class="home-rectangle52"
        />
      </div>
      <img
        src="/playground_assets/frame12svg4811-wx0i.svg"
        alt="Frame12svg4811"
        class="home-frame12svg"
      />
      <img
        src="/playground_assets/frame11svg4811-uv3q.svg"
        alt="Frame11svg4811"
        class="home-frame11svg"
      />
      <img
        src="/playground_assets/svg1780medalfirstplace1svg4042-gf1t.svg"
        alt="SVG1780medalfirstplace1svg4042"
        class="home-svg1780medalfirstplace1svg"
      />
      <img
        src="/playground_assets/rectangle574017-yt0y-1600w.png"
        alt="Rectangle574017"
        class="home-rectangle57"
      />
      <div class="home-frame9">
        <span class="home-text">
          <span>
            Desactiva tu alarma haciendo ejercico frente a la cámara
            <span [innerHTML]="raw93ia"></span>
          </span>
        </span>
      </div>
      <span class="home-text02"><span>Semana 27 de Febrero 2023</span></span>
      <span class="home-text04"><span>Mis alarmas</span></span>
      <button class="home-frame10button">
        <div class="home-group8">
          <img
            src="/playground_assets/ellipse1i401-67n-200h.png"
            alt="Ellipse1I401"
            class="home-ellipse1"
          />
          <span class="home-text06"><span>Cree nueva alarma</span></span>
        </div>
      </button>
      <div class="home-interlistadoalarmas">
        <button class="home-swipetodeletebutton">
          <div class="home-contentscontainer">
            <div class="home-contents">
              <img
                src="/playground_assets/rectangle40i401-3cnr-200h.png"
                alt="Rectangle40I401"
                class="home-rectangle40"
              />
              <div class="home-group13">
                <span class="home-text08"><span>02:00 a.m</span></span>
                <span class="home-text10"><span>Lu, Ma, Jue.</span></span>
              </div>
              <div class="home-toggle">
                <img
                  src="/playground_assets/rectangle43i401-z37-200h.png"
                  alt="Rectangle43I401"
                  class="home-rectangle43"
                />
                <img
                  src="/playground_assets/ellipse4i401-jp-200h.png"
                  alt="Ellipse4I401"
                  class="home-ellipse4"
                />
              </div>
            </div>
            <div class="home-swipetodelete-eliminar">
              <span class="home-text12"><span>Eliminar</span></span>
            </div>
          </div>
        </button>
        <button class="home-swipetodeletebutton1">
          <div class="home-contentscontainer1">
            <div class="home-contents1">
              <img
                src="/playground_assets/rectangle40i401-jau9-200h.png"
                alt="Rectangle40I401"
                class="home-rectangle401"
              />
              <div class="home-group131">
                <span class="home-text14"><span>02:00 a.m</span></span>
                <span class="home-text16"><span>Lu, Ma, Jue.</span></span>
              </div>
              <div class="home-toggle1">
                <img
                  src="/playground_assets/rectangle43i401-bdx-200h.png"
                  alt="Rectangle43I401"
                  class="home-rectangle431"
                />
                <img
                  src="/playground_assets/ellipse4i401-xhu-200h.png"
                  alt="Ellipse4I401"
                  class="home-ellipse41"
                />
              </div>
            </div>
            <div class="home-swipetodelete-eliminar1">
              <span class="home-text18"><span>Eliminar</span></span>
            </div>
          </div>
        </button>
        <button class="home-swipetodeletebutton2">
          <div class="home-contentscontainer2">
            <div class="home-contents2">
              <img
                src="/playground_assets/rectangle40i401-ebt-200h.png"
                alt="Rectangle40I401"
                class="home-rectangle402"
              />
              <div class="home-group132">
                <span class="home-text20"><span>02:00 a.m</span></span>
                <span class="home-text22"><span>Lu, Ma, Jue.</span></span>
              </div>
              <div class="home-toggle2">
                <img
                  src="/playground_assets/rectangle43i401-2knn-200h.png"
                  alt="Rectangle43I401"
                  class="home-rectangle432"
                />
                <img
                  src="/playground_assets/ellipse4i401-46tq-200h.png"
                  alt="Ellipse4I401"
                  class="home-ellipse42"
                />
              </div>
            </div>
            <div class="home-swipetodelete-eliminar2">
              <span class="home-text24"><span>Eliminar</span></span>
            </div>
          </div>
        </button>
      </div>
      <span class="home-text26"><span>regístrese</span></span>
      <span class="home-text28"><span>o inicie sesión</span></span>
      <div class="home-group53">
        <span class="home-text30">
          <span>¡Gracias por iniciar tus pausas activas con nosotros!</span>
        </span>
      </div>
      <div class="home-frame56">
        <div class="home-group9input">
          <span class="home-text32"><span>Ingrese su Apellido</span></span>
        </div>
        <div class="home-ingresenombreinput">
          <img
            src="/playground_assets/rectangle38i401-t7a-200h.png"
            alt="Rectangle38I401"
            class="home-rectangle38"
          />
          <span class="home-text34"><span>Ingrese su nombre</span></span>
        </div>
        <div class="home-group8input">
          <span class="home-text36"><span>Escriba su contraseña</span></span>
        </div>
        <div class="home-group7input">
          <span class="home-text38"><span>Confirme su contraseña</span></span>
        </div>
      </div>
      <div class="home-frame7">
        <span class="home-text40"><span>Sentadillas</span></span>
        <div class="home-group51">
          <span class="home-text42"><span>15</span></span>
          <img
            src="/playground_assets/tinder4042-0mz-200w.png"
            alt="Tinder4042"
            class="home-tinder"
          />
        </div>
      </div>
      <div class="home-frame8">
        <span class="home-text44"><span>Puntuación</span></span>
        <div class="home-group52">
          <span class="home-text46"><span>1237</span></span>
          <img
            src="/playground_assets/tinder4042-bdj-200w.png"
            alt="Tinder4042"
            class="home-tinder1"
          />
        </div>
      </div>
      <div class="home-frame55">
        <span class="home-text48"><span>Realiza scroll</span></span>
        <div class="home-group54">
          <img
            src="/playground_assets/doubledown4042-vt07-200w.png"
            alt="DoubleDown4042"
            class="home-double-down"
          />
          <img
            src="/playground_assets/doubledown4042-txri-200w.png"
            alt="DoubleDown4042"
            class="home-double-down1"
          />
        </div>
      </div>
      <img
        src="/playground_assets/line94221-hl5m.svg"
        alt="Line94221"
        class="home-line9"
      />
      <button class="home-frame2button">
        <div class="home-boton-login">
          <img
            src="/playground_assets/rectangle2i427-cjv6-200h.png"
            alt="Rectangle2I427"
            class="home-rectangle2"
          />
          <span class="home-text50"><span>Registrarme</span></span>
        </div>
        <span class="home-text52">
          <span>¡Se ha registrado exitosamente!</span>
        </span>
      </button>
      <button class="home-frame4button">
        <div class="home-boton-login1">
          <img
            src="/playground_assets/rectangle2i427-etvc-200h.png"
            alt="Rectangle2I427"
            class="home-rectangle21"
          />
          <span class="home-text54"><span>Continua con Google</span></span>
        </div>
        <span class="home-text56">
          <span>¡Ha iniciado sesión existosamente!</span>
        </span>
      </button>
      <button class="home-frame6button">
        <div class="home-group44">
          <span class="home-text58"><span>Continua con Apple</span></span>
        </div>
        <span class="home-text60">
          <span>¡Ha iniciado sesión exitosamente!</span>
        </span>
      </button>
    </div>
  </div> -->
</body>
